@font-face {
  font-family: Oswald-Bold;
  src: url(Oswald-Bold.woff2) format('woff2'), url(Oswald-Bold.woff) format('woff');
}

@font-face {
  font-family: 'FiraSansCondensed';
  src: url(FiraSansCondensed-Regular.woff2) format('woff2'), url(FiraSansCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'FiraSansCondensed-Bold';
  src: url(FiraSansCondensed-Bold.woff2) format('woff2'), url(FiraSansCondensed-Bold.woff) format('woff');
}
